# 🛑 SECURITY: Never upload environment variables!
.env
*.env

# 🐍 Python Virtual Environments & Cache
venv/
env/
__pycache__/
*.pyc

# 📱 Flutter & Dart Build Files
build/
.dart_tool/
.packages
.pub-cache/
.pub/
scanner/build/

# 📷 Generated QR Codes (Don't upload test images)
*.png
*.jpg